{% extends 'base.html' %}
{% block title %} Index {% endblock title %}
{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} warning alert-dismissible fade show " role="alert"
     xmlns="http://www.w3.org/1999/html">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="container mb -3">
    <div class="container mb -3 row justify-text-around text-center">
        <h1>Simple CRUD Project  </h1>
    </div>
<div class="container mb-3 col-sm-8">
    <form method="post" action="">
 {% csrf_token %}
  {{ form }}
        <button class="btn btn-primary my-3" type="submit">Submit</button>
    </form>
</div>
</div>
<div class="container mb-3 col-sm-8">
            <table class="table">
             <thead>
                <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>

                </tr>
             </thead>


  <tbody>
      {%for item in list %}
             <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{item.Name}}</td>
                <td>{{item.Email}}</td>
                 <td>{{item.Contact}}</td>
                  <td>
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                          <a HREF="{% url 'update' item.pk %}"method="post">
                    <button class="btn btn-secondary me-md-2" type="button">Update</button>
                     <a HREF="{% url 'delete' item.pk %}"method="post"> {% csrf_token %}
                         <button class="btn btn-danger" type="button" value="submit">Delete</button>
                     </a>
                      </div>
                  </td>

             </tr>
      {% endfor %}
  </tbody>
</table>

</div>
 {% endblock body %}