{% extends 'base.html' %}
{% block title %} about {% endblock title %}
{% block body %}

<div class="container mb -3">
    <div class="container mb-3 col-sm-8">
    <h1> Update data  </h1>
    <form method="post" >
 {% csrf_token %}
  {{ form }}

        <button class="btn btn-secondary my-3" type="submit">Update</button>
        </form>
</div>
</div>

 {% endblock body %}